<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de pacientes con Dengue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/quartz/bootstrap.min.css">
</head>

    <nav class="navbar">
        <a href="/" class="navbar-brand">Gestion de pacientes con Dengue</a>
    </nav>
</html>